html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#search {
  display: block;
  margin: 10px;
}

#currentWeather {
  display: block;
  margin: 10px;
}

#currentWeather :first-child {
  font-size: 12px;
  color: grey;
  margin-bottom: 15px;
}

#currentWeather>img {
  width: 100px;
  height: 100px;
  float: left
}

#currentWeather>img::after {
  clear: both
}

#currentWeatherInfo {
  margin-top: 20px;
}

#currentWeatherInfo :first-child {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

#currentWeatherInfo :nth-child(2) {
  color: blue;
  margin-right: 5px;
}

#currentWeatherInfo :nth-child(3) {
  color: red;
  margin-right: 5px;
}

#forecastWeatherWrap {
  margin: 30px 10px 10px 10px;
}

#forecastWeatherList {
  margin-top: 15px;
  width: 800px;
}

.forecastWeatherInfo {
  width: 90px;
  float: left;
  border-right: solid 1px #f0f3f6;
  text-align: center;
}

.forecastWeatherInfo:nth-child(8n) {
  border-right: 0;
}

.forecastWeatherInfo>p {
  margin-top: 15px;
  font-size: 10px;
  color: grey;
}

.forecastWeatherInfo>img {
  display: block;
  margin: 0px auto;
}

.forecastWeatherInfo>.tempMin {
  color: blue;
  font-size: 10px;
  padding-right: 3px;
}

.forecastWeatherInfo>.tempMax {
  color: red;
  font-size: 10px;
}